body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ljmdlk {
  position: absolute !important;
  perspective: none !important;
  background-color: #cbd5e0;
}

.mode-dark .ljmdlk {
  background-color: #2d3748;
}

.kqCone {
  overflow-y: scroll !important;
}